<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
		<link rel=stylesheet type="text/css" href="/static/style.css" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">		
		<meta name="google-signin-scope" content="https://www.googleapis.com/auth/youtube.force-ssl">
		<meta name="google-signin-client_id" content="1094375934291-qa39k5ek6lfl3rik25c3jo504av6m7o9.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script type="text/javascript" src="/static/jquery.js"></script>
		<script src="https://use.typekit.net/wqa1vgm.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		
		<!--remove this script; no longer needed.  <script>$("section").css('background', function () {
    		return $(this).data('color')
			});
		</script>-->
	</head>
	<title>Sheepdog - Grow your Audience</title>
	
	<body>
	<header>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<h5 id="title" >Sheepdog</h5>
		</div>
	</header>
	
	<div class="box">
		<h1>Contact: daniel.will.george@gmail.com</h1>
	</div>
	</body>
</html> 