<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
		<link rel=stylesheet type="text/css" href="/static/style.css" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">		
		<meta name="google-signin-scope" content="https://www.googleapis.com/auth/youtube.force-ssl">
		<meta name="google-signin-client_id" content="1094375934291-qa39k5ek6lfl3rik25c3jo504av6m7o9.apps.googleusercontent.com">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script type="text/javascript" src="/static/jquery.js"></script>
		<script src="https://use.typekit.net/wqa1vgm.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		
		<style>
		  #button:hover{background-color:#4285f4;}
		</style>
		
		<!--remove this script; no longer needed.  <script>$("section").css('background', function () {
    		return $(this).data('color')
			});
		</script>-->
	</head>
	<title>Sheepdog - Grow your Audience</title>
	
	<body>
	<header>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<h5 id="title" >Sheepdog</h5>
		</div>
	</header>
	
		<div id="index" class="box">
		    <h1>The easiest way to discover what your fans love to watch on YouTube</h1>
		    <ul class="i">
		    	<li><i class="fa fa-lightbulb-o fa-2x" style="color: #FF7600; margin-left: 10px;"></i><span style="vertical-align: 5px; margin-left: 30.5625px;">Inspire ideas for new content</span></li>
		    	<li><i class="fa fa-refresh fa-2x" style="color: #FF7600; margin-left: 3px;"></i><span style="vertical-align: 5px;  margin-left: 23.8437px;">Identify other creators and collaborate</span></li>
		    	<li><i class="fa fa-plus fa-2x" style="color: #FF7600; margin-left: 5px;"></i><span style="vertical-align: 5px; margin-left: 25.2812px;">Connect with your fans</span></li>
		    	<li><i class="fa fa-youtube-play fa-2x" style="color: #FF7600;"></i><span style="vertical-align: 5px; margin-left: 20px;">Grow your channel</span></li>
		    </ul>
		    	
		    <h2>Sign in with your YouTube account and try it for free!</h2>	
			<!-- The div and class for the 
	             Google signin button -->
	        <style>.abcRioButtonLightBlue { background-color: #4FADE3; color: #fff; } .abcRioButtonIcon { background-color: #fff;}  </style>
			<div style="display: inline-block; padding: 20px;" name="signIn" class="g-signin2" data-onsuccess="onSignIn" data-width="200px" data-height="50px" data-longtitle="true"></div>
			
			
			<!--<p><a href="#" onclick="signOut();">Sign Out</a></p>-->
	
			<!--<img src="static/disney.png">-->
			
			<!-- Jinja2 template -->
			<p>{{ title }}</p>
			<p>{% for number in numbers %}
  				{{number}}
		   	   {% endfor %}</p>
		</div>
		
		<div class=box ng-controller="StoreController as store">
				<!-- old AngularJs code snippets		
				<h1 ng-bind="store.product.name">  </h1>
				<h2 ng-bind="store.product.price"> </h2>
				<p ng-bind="store.product.description"> </p>-->
		</div>
		
		<div id="user" class="box" style="display:none; width: 100%; top: 385px;">
		<h5 style="font-size: 48px; margin-bottom: 1px;">amoot18</h5>
		<span><img src="https://yt3.ggpht.com/-1qMc9-m8A4c/AAAAAAAAAAI/AAAAAAAAAAA/Yc74uVRndXQ/s88-c-k-no/photo.jpg"></span>

			<div style="width: 46%; float: left; font-size: 30px;">
			<i class="fa fa-video-camera fa-2x" style="color: #FF7600;"></i>
			<br>
			<span style="font-weight: 300; font-family: acumin-pro; color: #FF7600;">Top 10 Videos Liked By Fans</span>
				<div style="width: 50%; float: left; font-size: 30px;">
				<table>
					{% for i in range(1, 6) %}
					<tr>
						<td style="color: #757575; font-weight: 200;">{{ i }}</td>
						<td><img src={{ urls[i] }} style="display: block; height: 60px; width: 60px; line-height: 60px; -moz-border-radius: 50%; border-radius: 50%;"></td>
						<td style="width: 60px;"><a href={{ videoIds[i] }}>{{ titles[i] }}</a></td>
						<!--<td>{{ channelIds[i] }}</td>-->
					</tr>
					{% endfor %}
				</table>
				</div>
			
				<div style="width: 50%; float: left; font-size: 30px;">
				<table>
					{% for i in range(5, urls|count) %}
					<tr>
						<td style="color: #757575; font-weight: 200;">{{ i + 1 }}</td>
						<td><img src={{ urls[i] }} style="display: block; height: 60px; width: 60px; line-height: 60px; -moz-border-radius: 50%; border-radius: 50%;"></td>
						<td style="width: 60px;"><a href={{ videoIds[i] }}>{{ titles[i] }}</a></td>
						<!--<td>{{ channelIds[i] }}</td>-->
					</tr>
					{% endfor %}
				</table>
				</div>
			
			
			</div>
			
			<div style="width: 46%; float: right; font-size: 30px;">
			<i class="fa fa-users fa-2x" style="color: #FF7600;"></i>
			<br>
			<span style="font-weight: 300; font-family: acumin-pro; color: #FF7600;">Top 10 Users Liked By Fans</span>
			
			<div style="width: 50%; float: left; font-size: 30px;">
			<table>
				{% for i in range(1, 6) %}
				<tr>
					<td style="color: #757575; font-weight: 200;">{{ i }}</td>
					<td><img src={{ urls_[i] }} style="display: block; height: 60px; width: 60px; line-height: 60px; -moz-border-radius: 50%; border-radius: 50%;"></td>
					<td><a href={{ videoIds[i] }}>{{ users_[i] }}</a></td>
					<!--<td>{{ channelIds[i] }}</td>-->
				</tr>
				{% endfor %}
			</table>
			</div>
		<!--</div>-->
		
			<div style="width: 50%; float: left; font-size: 30px;">
			<table>
				{% for i in range(5, urls_|count) %}
				<tr>
					<td style="color: #757575; font-weight: 200;">{{ i + 1 }}</td>
					<td><img src={{ urls_[i] }} style="display: block; height: 60px; width: 60px; line-height: 60px; -moz-border-radius: 50%; border-radius: 50%;" ></td>
					<td><a href={{ videoIds[i] }}>{{ users_[i] }}</a></td>
					<!--<td>{{ channelIds[i] }}</td>-->
				</tr>
				{% endfor %}
			</table>
			</div>
		
		</div>
			<!--<ul class="u">
				<li style="font-weight: 200;">How to Use this Info to Improve Your Channel</li>
				<li>Create: let these videos and users inspire your next video.  Your fans love Taylor Swift's "Blank Space"?  Mention it on your channel!</li>
				<li>Engage: Is there something new or different about these videos that you could include on your channel?  Maybe your fans love videos that encourage participation.  Go for it!</li>
				<li>Collaborate: check out those users.  Do you see anyone you think would make for a great collaboration?  Reach out, and mention them on your own channel!</li>
			</ul>-->
		<br>
		<div style="display: inline-block; padding: 20px;"><button type="button" style="border: none; margin:0 auto; height: 50px; width: 200px; background-color: #4FADE3; color: #fff; border-radius: 1px; box-shadow: 0 2px 4px 0 rgba(0,0,0,.25); box-sizing: border-box; transition: background-color .218s,border-color .218s,box-shadow .218s; background-image: none; cursor: pointer; outline: none; overflow: hidden; position: relative; text-align: center; vertical-align: middle; white-space: nowrap; display: inline-block;" onclick="signOut();">Sign Out</button></div>
		</div>
		
		<div class="modal">Yaaaas, this may take a minute...processing millions of lines of data.</div>
		
		<footer>
		<div class="navbar navbar-fixed-bottom">
			<ul>
				<li><a href="">Contact</a></li>
				<li><a href="">Support</a></li>
				<li><a href="http://peppy-linker-102423.appspot.com/terms">Terms</a></li>
				<li><a href="http://peppy-linker-102423.appspot.com/privacy">Privacy</a></li>
			</ul>
		</div>
		</footer>

		<script type="text/javascript" src="static/angular.min.js"></script>
		<script type="text/javascript" src="static/app.js"></script>
		
		<!-- Javascript for Google
		     signin button -->
		<script>
		
			$body = $("body");

			$(document).on({
    			ajaxStart: function() { $body.addClass("loading");    },
     			ajaxStop: function() { $body.removeClass("loading"); }    
			});
			
      		function onSignIn(googleUser) { 
        	  var id_token = googleUser.getAuthResponse();
        	  var profile = googleUser.getBasicProfile();
        	  console.log(id_token);              
        	  console.log(profile);
        	  var access_token = id_token.access_token;
        	  console.log(access_token);
        	  var name = profile.getName();
        	  var email = profile.getEmail();
        	  /*window.location = "http://peppy-linker-102423.appspot.com/user";*/
        	  var data = "Kate Upton";
        	  var arr = {"name" : name,
        	             "email" : email,
        	             "access_token" : access_token};
        	
        	  $.ajax({
    		    type : "POST",
    		    url : "http://peppy-linker-102423.appspot.com/",
    		    data: JSON.stringify(arr, null, '\t'),
    		    contentType: 'application/json',
    		    success: function(result) {
    		      console.log(result);
    		    }
    		  });
    		  
    		  $("#user").show();
        	  $("#index").hide();
        	  $("#title").hide();
        	};
        	
        	function signOut() {
    		  var auth2 = gapi.auth2.getAuthInstance();
    		  auth2.signOut().then(function () {
      			console.log('User signed out.');
      			$("#user").hide();
        	    $("#index").show();
        	    $("#title").show();
    			});
  			}
    	</script>
    	
    	<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-71019000-1', 'auto');
  			ga('send', 'pageview');

		</script>
    	
    	<!--<script>
    	 AJAX call for
    	     variables to Flask
    	    var data = "Kate Upton is so sexy"; 
    	     
    		$.ajax({
    		  type : "POST",
    		  url : "http://peppy-linker-102423.appspot.com/",
    		  data: JSON.stringify(data, null, '\t'),
    		  contentType: 'application/json;charset=UTF-8',
    		  success: function(result) {
    		    console.log(result);
    		    }
    		});
    	</script>-->
	</body>
</html>

