<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
		<link rel=stylesheet type="text/css" href="/static/style.css" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">		
		<meta name="google-signin-scope" content="https://www.googleapis.com/auth/youtube.force-ssl">
		<meta name="google-signin-client_id" content="1094375934291-qa39k5ek6lfl3rik25c3jo504av6m7o9.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script type="text/javascript" src="/static/jquery.js"></script>
	</head>
	<body>	
		<div class=box>
			<h2>Sheepdog</h2>
			
			<!-- The div and class for the 
	             Google signin button -->
			<div style="display: inline-block;" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
			
			<p><a href="#" onclick="signOut();">Sign Out</a></p>
	
			<!--<img src="static/disney.png">-->
			
			<!-- Jinja2 template -->
			<p>{{ title }}</p>
			<p>{% for number in numbers %}
  				{{number}}
		   	   {% endfor %}</p>
		</div>
		
		<div class=box ng-controller="StoreController as store">
				<!-- old AngularJs code snippets		
				<h1 ng-bind="store.product.name">  </h1>
				<h2 ng-bind="store.product.price"> </h2>
				<p ng-bind="store.product.description"> </p>-->
		</div>

		<script type="text/javascript" src="static/angular.min.js"></script>
		<script type="text/javascript" src="static/app.js"></script>
		
		<!-- Javascript for Google
		     signin button -->
		<script>
      		function onSignIn(googleUser) { 
        	  var id_token = googleUser.getAuthResponse();
        	  var profile = googleUser.getBasicProfile();
        	  console.log(id_token);              
        	  console.log(profile);
        	  var name = profile.getName();
        	  var email = profile.getEmail();
        	  var data = "Kate Upton is so sexy";
        	  var arr = {"name" : name,
        	             "email" : email};
        	  $.ajax({
    		    type : "POST",
    		    url : "http://peppy-linker-102423.appspot.com/",
    		    data: JSON.stringify(arr, null, '\t'),
    		    contentType: 'application/json;charset=UTF-8',
    		    success: function(result) {
    		      console.log(result);
    		    }
    		  });
        	};
        	
        	function signOut() {
    		  var auth2 = gapi.auth2.getAuthInstance();
    		  auth2.signOut().then(function () {
      			console.log('User signed out.');
    			});
  			}
    	</script>
    	<!--<script>
    	 AJAX call for
    	     variables to Flask
    	    var data = "Kate Upton is so sexy"; 
    	     
    		$.ajax({
    		  type : "POST",
    		  url : "http://peppy-linker-102423.appspot.com/",
    		  data: JSON.stringify(data, null, '\t'),
    		  contentType: 'application/json;charset=UTF-8',
    		  success: function(result) {
    		    console.log(result);
    		    }
    		});
    	</script>-->
	</body>
</html>

