<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
		<link rel=stylesheet type="text/css" href="/static/style.css" />
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">		
		<meta name="google-signin-scope" content="https://www.googleapis.com/auth/youtube.force-ssl">
		<meta name="google-signin-client_id" content="1094375934291-qa39k5ek6lfl3rik25c3jo504av6m7o9.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script type="text/javascript" src="/static/jquery.js"></script>
		<script src="https://use.typekit.net/wqa1vgm.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		
		<!--remove this script; no longer needed.  <script>$("section").css('background', function () {
    		return $(this).data('color')
			});
		</script>-->
	</head>
	<header>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<h5>Sheepdog</h5>
		</div>
	</header>
	
	<body>	
	<h1>Sheepdog</h1>
	<h2>Sheepdog Terms of Service</h2>

	<h2>Introduction</h2>

	<p>Thank you for visiting Sheepdog and, if applicable, downloading and/or installing our App. Please read these Terms of Service 
	and our Privacy Policy carefully, as you must agree to both documents in order to have permission to use our Service.</p>

	<h2>Definitions</h2>

	<p>Throughout this Agreement, we may use certain words or phrases, and it is important that you understand the meaning of them. 
	The list is not all-encompassing and no definition should be considered binding to the point that it renders this Agreement nonsensical:

	"Agreement" refers to these Terms of Service;
	"App" refers to our software application;
	"Service" refers to the services that we provide, including our App and our Site;
	"Site" refers to our website, www.gosheepdog.com;
	"User" refers to anyone who uses our Service, including general visitors to our Site;
	"Sheepdog" refers to our company; our Site; our Service; our App; or a combination of all or some of the preceding definitions, 
	depending on the context in which the word is used;
	"You" refers to you, the person who is entering into this Agreement with Sheepdog.</p>

	<h2>What Sheepdog Offers</h2>

	<p>Sheepdog is a web app tool for YouTube content creators. Users can discover the videos and users that their fans
	love, and use this information to create even better content and attract a greater audience.</p>

	<h2>Eligibility</h2>

	<p>In order to use our Service, you must meet a number of conditions, including but not limited to:

	You must not be in violation of any embargoes, export controls, or other laws of the United States of America 
	or other countries or supranational bodies having jurisdiction over this Agreement, Sheepdog, and yourself.
	You must be the minimum age required to enter into a contract in the area in which you reside, and, in any event, must not be less 
	than 18 years of age;
	You must provide us with personal information and other information that we deem necessary to provide you with our Service.</p>

	<h2>Nature of Service</h2>

	<p>Sheepdog permits Users to share ideas and content amongst themselves. Unless otherwise stated, 
	Sheepdog itself does not endorse or condone the publications of any of its Users. You hereby agree to release Sheepdog from any liability 
	relating to any acts or omissions of any other User.</p>

	<h2>Rules of Use</h2>

	<p>You must not:

	Violate the laws of the United States of America or any foreign political entity having jurisdiction over 
	this Agreement, whether or not the foreign political entity is a country or a subdivision 
	(such as a state or province) or municipality (such as a city, town, county, or region) of a foreign country;
	Post or send anything violent, threatening, pornographic, racist, hateful, or otherwise objectionable according to the opinion of Sheepdog;
	Infringe on anyone’s intellectual property rights, defame anyone, impersonate anyone, or otherwise violate the rights of a third party;
	Hack, crack, phish, SQL inject, or otherwise compromise the security or integrity of the Sheepdog Site, Service, or its Users’ computers;
	Do anything else which could bring Sheepdog into disrepute or violate the rights of any person.</p>

	<h2>Our Copyright</h2>

	<p>You agree not to copy, distribute, display, disseminate, or otherwise reproduce any of the information on the Site without receiving our prior 
	written permission.</p>

	<h2>Revocation of Consent</h2>

	<p>We may revoke our consent for your use of our intellectual property, or any other permission granted to you under this Agreement, 
	at any time. You agree that if we so request, you must take immediate action to remove any usage of our intellectual property that you 
	may have engaged in, even if it would cause a loss to you.</p>

	<h2>Copyright & Trademark Infringement, Defamation, and Other Violations of Rights</h2>

	<p>Pursuant to Statutory Instrument Number 68/2003, if you believe that your rights have been infringed by any publication on our Site, please send us:

	Your name;
	The name of the party whose rights have been infringed, if different from your name;
	The name and description of the work that is being infringed (in the case of intellectual property infringement);
	The location on our website of the offending publication;
	A statement that you have a good faith belief that the publication violates your rights or the rights of the person who you are authorized 
	to represent, with an explanation of the legal basis for your statement;
	
	You must sign this notification electronically and send it to us at contact@sheepdog.com.</p>

	<h2>Limited License</h2>

	<p>You agree that you will not attempt to reverse engineer, copy, or otherwise tamper with or redistribute our App without Sheepdog’s prior express 
	written permission.</p>

	<h2>Representations & Warranties</h2>

	<p>WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE. 
	YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR 
	SERVICES, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT. TO THE EXTENT THAT APPLICABLE LAW 
	RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR 
	LIABILITY TO, IF SUCH A MINIMUM EXISTS.</p>

	<p>YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR DAMAGES CAUSED BY THIRD PARTIES WHO MAY USE OUR SERVICES, INCLUDING BUT NOT LIMITED TO 
	PEOPLE WHO COMMIT INTELLECTUAL PROPERTY INFRINGEMENT, DEFAMATION, TORTIOUS INTERFERENCE WITH ECONOMIC RELATIONS, OR ANY OTHER ACTIONABLE CONDUCT 
	TOWARDS YOU.</p>

	<p>YOU AGREE THAT WE ARE NOT LIABLE FOR ANY FAILURE OF THE GOODS OR SERVICES OF OUR COMPANY OR A THIRD PARTY, INCLUDING ANY FAILURES OR DISRUPTIONS, 
	UNTIMELY DELIVERY, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR 
	PERMANENTLY.</p>

	<p>THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT. NOTHING IN THE PROVISIONS 
	OF THIS "REPRESENTATIONS & WARRANTIES" SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.<p>

	<p>For Jurisdictions that do not allow us to limit our liability: Notwithstanding any provision of these Terms, if your jurisdiction has provisions 
	specific to waiver or liability that conflict with the above then our liability is limited to the smallest extent possible by law. Specifically, 
	in those jurisdictions not allowed, we do not disclaim liability for: (a) death or personal injury caused by its negligence or that of any of its 
	officers, employees or agents; or (b) fraudulent misrepresentation; or (c) any liability which it is not lawful to exclude either now or in the 
	future.</p>
	
	<p>IF YOU ARE A RESIDENT OF A JURISDICTION THAT REQUIRES A SPECIFIC STATEMENT REGARDING RELEASE THEN THE FOLLOWING APPLIES. FOR EXAMPLE, RESIDENTS OF 
	THE STATE OF CALIFORNIA IN THE UNITED STATES MUST, AS A CONDITION OF THIS AGREEMENT, WAIVE THE APPLICABILITY OF CALIFORNIA CIVIL CODE SECTION 1542,
 	WHICH STATES, "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME 
 	OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR." YOU HEREBY WAIVE 
 	THIS SECTION OF THE CALIFORNIA CIVIL CODE. YOU HEREBY WAIVE ANY SIMILAR PROVISION IN LAW, REGULATION, OR CODE THAT HAS THE SAME INTENT OR EFFECT 
 	AS THE AFOREMENTIONED RELEASE.</p>

	<h2>Indemnity</h2>

	<p>You agree to indemnify and hold us harmless for any claims by you or any third party which may arise from or relate to this Agreement or the 
	provision of our service to you, including any damages caused by your use of our Site or acceptance of the offers contained on it. You also agree 
	that you have a duty to defend us against such claims and we may require you to pay for an attorney(s) of our choice in such cases. You agree that 
	this indemnity extends to requiring you to pay for our reasonable attorneys’ fees, court costs, and disbursements. In the event of a claim such as 
	one described in this paragraph, we may elect to settle with the party/parties making the claim, and you shall be liable for the damages as though 
	we had proceeded with a trial.</p>

	<h2>Choice of Law</h2>

	<p>This Agreement shall be governed by the laws in force in the United States of America. The offer and acceptance of this contract are deemed to have 
	occurred in the United States of America.</p>

	<h2>Forum of Dispute</h2>

	<p>You agree that any dispute arising from or relating to this Agreement will be heard solely by a court of competent jurisdiction in the United States of
	America.</p>

	<p>If a dispute claims multiple claims and one or more of those claims would be eligible to be heard by the Small Claims Procedure, you agree not 
	to bring the other claims against us and to instead proceed within the Small Claims Procedure.</p>

	<p>If you would be entitled in a dispute to an amount exceeding the monetary jurisdiction of the District Court when proceeding under the Small 
	Claims Procedure, you agree to waive your right to collect any damages in excess of the monetary jurisdiction and instead still bring your 
	claim within the Small Claims Procedure.</p>

	<p>You agree that if a dispute is eligible to be heard using the Small Claims Procedure but you would be entitled to an additional or alternative 
	remedy in a higher court, such as injunctive relief, you will waive your right to that remedy and still bring the dispute using the Small Claims 
	Procedure.</p>

	<p>If you bring a dispute in a manner other than in accordance with this section, you agree that we may move to have it dismissed, and that you will
 	be responsible for our reasonable attorneys’ fees, court costs, and disbursements in doing so.</p>

	<h2>Force Majeure</h2>

	<p>You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond 
	our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and 
	unlawful strikes), embargoes, postal disruption, communication disruption, unavailability of payment processors, failure or shortage of 
	infrastructure, shortage of materials, or any other event beyond our control.</p>

	<h2>Severability</h2>

	<p>In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise 
	unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.</p>

	<p>If two or more provisions of this Agreement are deemed to conflict with each other’s operation, Sheepdog shall have the sole right to elect 
	which provision remains in force.</p>

	<h2>Non-Waiver</h2>

	<p>Sheepdog reserves all rights afforded to us under this Agreement as well as under the provisions of any applicable law. Our non-enforcement 
	of any particular provision or provisions of this Agreement or any applicable law should not be construed as our waiver of the right to 
	enforce that same provision under the same or different circumstances at any time in the future.</p>

	<h2>Termination & Cancellation</h2>

	<p>We may terminate your access to our Site and Service at our discretion without explanation, though we will strive to provide a timely 
	explanation in most cases. Our liability for refunding you, if you have paid anything to us, will be limited to the amount you paid for 
	goods or services which have not yet been and will not be delivered, except in cases where the termination or cancellation was due to
 	your breach of this Agreement, in which case you agree that we are not required to provide any refund or other compensation whatsoever.</p>

	<p>Under no circumstances, including termination or cancellation of our Service to you, will we be liable for any losses related to actions
	 of other Users.</p>

	<h2>Assignment of Rights</h2>

	<p>You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent. We may assign
	 our rights and/or obligations under this Agreement to any other party at our discretion.</p>

	<h2>Amendments</h2>

	<p>We may amend this Agreement from time to time. When we amend this Agreement, we will update this page accordingly and 
	require you to accept the amendments in order for you to be able to continue using our Service.</p>

	<p>Last Modified: November 23, 2015</p>
	
</body>
<html>